*{
    padding: 0;
    margin: 0;
}
.bg-circle-dsg{
    background: lightcoral;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    opacity: .3;
}
.bg-circle-dsg:nth-child(1){
   translate: 0 0;
}
.bg-circle-dsg:nth-child(2){
    translate: 0 0;
    width: 25rem; height: 25rem;
    background: lightgreen;
}
.bg-circle-dsg:nth-child(3){
    translate: 0 0;
    width: 45rem; height: 45rem;
    background: lightblue;
}
.bg-circle-dsg:nth-child(4){
    translate: 0 0;
    background: lightpink;
}